* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body {
  width: 100%;
  height: 100%;
  background: var(--bkg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;


  
  /*background-color: rgba(0,0,0,0.5);
  background-blend-mode: multiply;*/
  animation: 0.7s fadeIn;
  animation: var(--bkg-anim);
  /*background-color: #081d28;*/
  
  font-family: 'Montserrat';
}

.frame {
  width: 100% !important;
  height: 100vh !important;
}

.pageLoading {
  display: none;
  position: fixed;
  bottom: 0;
  right: 20px;
  background-color: black;
  box-shadow: 0 0 5px 1px white;
  color: white;
  padding: 7px 10px;
  font-size: 15px;
}

.loading {
  animation: rotation 0.9s infinite linear;
  user-select: none;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.hider {
  display: none; /* flex */
  align-items: center;
  justify-content: center;
  position: absolute;
  font-size: 25px;
  color: #c8c8c8;
  text-shadow: 2px 2px 4px black;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  text-align: center;
  margin: auto;
}

.facts {
  display: none;
}
